/* SignUpPage.css */

.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.signup-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
  
.signup-container form {
    display: flex;
    flex-direction: column;
}
  
.signup-container form div {
    margin-bottom: 15px;
}
  
.signup-container form label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}
  
.signup-container form input,
.signup-container form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.signup-container form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5c6bc0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.signup-container form button:hover {
    background-color: #3f51b5;
}
.signup-container form .button-group {
    display: flex;
    justify-content: left; /* Center the button group */
    gap: 10px; /* Creates space between buttons */
  }
  
  /* Style adjustments for buttons inside the .button-group */
  .signup-container form .button-group button,
  .signup-container form .button-group a {
    margin: 0; /* Remove default margins */
    text-decoration: none; /* Remove text decoration from links */
  }